In [ ]:
import pandas as pd

#Read CSV file
df_load = pd.read_csv('../data/CC_LCL-FullData.csv')
df_generation = pd.read_csv('../solar_calc/pv_output_2020_37kWp.csv')

In [2]:
#Convert datetime to datetime type
df_load['DateTime'] = pd.to_datetime(df_load['DateTime'])

# Remove duplicate rows based on smart meter id and datetime columns
df_load = df_load.drop_duplicates(subset=['LCLid','DateTime'])

# Set datetime and household identifier as multi-level index
df_load = df_load.set_index(['DateTime','LCLid'])

# Groupby datetime and household identifier and sum the energy consumption
df_load = df_load.sum(level=[0,1])

# Reset the index
df_load = df_load.reset_index(['LCLid'])

# Pivot the table with household identifier as columns and kWh as values
df_load = df_load.pivot(columns='LCLid',values='KWH/hh (per half hour) ')

C:\Users\agorb\AppData\Local\Temp\ipykernel_15032\795614447.py:11: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df_load = df_load.sum(level=[0,1])

In [3]:
#Filter the dataframe by datetime range,
df_load_snapshot = df_load[(df_load.index >= '2012-10-01 15:00:00') & (df_load.index <= '2012-10-01 18:00:00')]

#Select the first 5 smart_meter_ids
df_load_snapshot = df_load_snapshot.iloc[:, 3:7]
df_load_snapshot

LCLid               MAC000006 MAC000007 MAC000008 MAC000009
DateTime
2012-10-01 15:00:00    0.074     0.079     0.274     0.231
2012-10-01 15:30:00    0.062      0.07     0.262     0.228
2012-10-01 16:00:00    0.032     0.106     0.311     0.209
2012-10-01 16:30:00    0.063     0.059     0.393     0.306
2012-10-01 17:00:00    0.046     0.026     1.011     0.172
2012-10-01 17:30:00    0.031     0.041      0.81     0.157
2012-10-01 18:00:00    0.073     0.041     0.442      0.22

In [157]:
#Convert datetime to datetime type
df_generation['DateTime'] = pd.to_datetime(df_generation['DateTime'])

# Set datetime identifier as multi-level index
df_generation = df_generation.set_index(['DateTime'], True)

df_generation_snapshot = df_generation[(df_generation.index >= '2020-10-01 15:00:00') & (df_generation.index <= '2020-10-01 18:00:00')]

#set same index

df_generation_snapshot.index = df_load_snapshot.index
df_generation_snapshot

C:\Users\agorb\AppData\Local\Temp\ipykernel_8320\57807461.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.set_index except for the argument 'keys' will be keyword-only.
  df_generation = df_generation.set_index(['DateTime'], True)

                       kWh/hh
DateTime
2012-10-01 15:00:00  4.583962
2012-10-01 15:30:00  2.294551
2012-10-01 16:00:00  1.281834
2012-10-01 16:30:00  0.259193
2012-10-01 17:00:00  0.000000
2012-10-01 17:30:00  0.000000
2012-10-01 18:00:00  0.000000

In [158]:
df_load_snapshot = df_load_snapshot.apply(pd.to_numeric)
df_generation_snapshot = df_generation_snapshot.apply(pd.to_numeric)
result_df = df_load_snapshot.apply(lambda x: x - df_generation_snapshot['kWh/hh'])
result_df

LCLid                MAC000006  MAC000007  MAC000008  MAC000009
DateTime
2012-10-01 15:00:00  -4.509962  -4.504962  -4.309962  -4.352962
2012-10-01 15:30:00  -2.232551  -2.224551  -2.032551  -2.066551
2012-10-01 16:00:00  -1.249834  -1.175834  -0.970834  -1.072834
2012-10-01 16:30:00  -0.196193  -0.200193   0.133807   0.046807
2012-10-01 17:00:00   0.046000   0.026000   1.011000   0.172000
2012-10-01 17:30:00   0.031000   0.041000   0.810000   0.157000
2012-10-01 18:00:00   0.073000   0.041000   0.442000   0.220000


# Remove all nan values from csv

In [7]:
import pandas as pd
# Load the CSV file into a pandas dataframe
df = pd.read_csv('MAC000002.csv')

# Convert the "DateTime" column to a datetime type
df['DateTime'] = pd.to_datetime(df['DateTime'])
# Set the "DateTime" column as the index of the dataframe
df.set_index('DateTime', inplace=True)
# Resample the dataframe to fill any missing datetime values with NaN values
df = df.resample('30min').mean()
nan_count = df['consumption'].isnull().sum()
nan_count

# Test Gini coefficient

In [1]:
import random

In [2]:
def generate_list():
    return random.sample(range(1, 11), 5)

list1 = generate_list()
list2 = generate_list()
list3 = generate_list()
list4 = generate_list()

print(list1)
print(list2)
print(list3)
print(list4)

[5, 6, 8, 2, 4]
[3, 9, 7, 6, 2]
[3, 2, 5, 10, 8]
[1, 10, 3, 6, 5]

In [3]:
def equality_index(list_of_values):
    sorted_list = sorted(list_of_values)
    height, area = 0, 0
    for value in sorted_list:
        height += value
        area += height - value / 2.
    fair_area = height * len(list_of_values) / 2.
    return 1- ((fair_area - area) / fair_area)

In [4]:
result = equality_index(list1)
result

0.776

In [ ]:
for i, flats_per_run in enumerate(simulation):
    y_values.append(sum(flats_per_run))
    gini_coefficient = gini(y_values)
    print(gini_coefficient)
    gini_values.append(gini_coefficient)